body {
    margin: 0;
} 

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
}
