.footer {
    background-color: #3a454d;
}
.footer-body {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 38px;
}
.footer-list-socials > .list-item > a {
    text-decoration: none;
    color: white;
}