.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav > .nav-item {
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #a4aead;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.nav > .nav-item:hover{
    border-color: #5c6166;
}
.nav .nav-item:active {
    border: 1px solid #23b7a4;
    color: #23b7a4;
}
.navbar .active:hover{}